// Colors
$clr1: rgb(43, 136, 164);
$clr2: #4a5555;
$clr3: rgb(194, 236, 249);
$clr4: #c1d1d1;
$clr5: rgb(118, 176, 193);

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1050px;
